// Media query range by pixels
// 0 - 600 phone
// 600 - 900 tablet portrait
// 900 - 1200 tablet landscape
// 1200 - 1800 "normal" desktop
// 1800 + large desktop

@mixin respond($breakpoint){
  @if $breakpoint == phone{
      @media (max-width: 600px){@content}    
  };
  @if $breakpoint == tab-port{
      @media (max-width: 900px){@content}
  };
  @if $breakpoint == tab-land{
      @media (max-width: 1200px){@content}    
  };
  @if $breakpoint == big-desktop{
      @media (min-width: 1800px){@content}
  }
}

body {
  background-color: #00000000;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
  color: #FFF
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #000;
  padding: 0;
}
ul.header li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: rgb(0, 0, 0);
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

ul.header li a:hover{
  color:  #F000EF;
}

body {
  background-color: black;
}

.footer{

  height: auto;
  background-color: #0E1111;

  &__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
  }

  &__about{

    &-text{
      max-width: 50%;
    }

    &-h2{
      font-size: 2rem;
      color: #eee;
      font-weight: 100;
      letter-spacing: .25rem;
    }

    &-h3{
      font-size: 1rem;
      color: #eee;
      font-weight: 100;
    }
  }

  &__hr{
    border-bottom: 1px solid grey;
    width: 90%;
    padding-bottom: 2rem;

  }

  &__legal{
    color: grey;
  }

}

.socials{

  &__list{
    list-style: none;
    display: flex;
    align-items: center;
    padding-inline-start: 0px;
  }

  &__link{
    text-decoration: none;
    color: white;
    padding: .5rem;
  }

}

.footer-navigation{

  &__list{
    list-style: none;
    display: flex;
    align-items: center;
    padding-inline-start: 0px;
  }

  &__item{
    text-decoration: none;
    border-right: 1px solid #eee;
    padding: .5rem;
    &:last-of-type{
      border-right: none;
    }
  }

  &__link{
    text-decoration: none;
    color: #eee;
    padding: .5rem;
  }

}