// Media query range by pixels
// 0 - 600 phone
// 600 - 900 tablet portrait
// 900 - 1200 tablet landscape
// 1200 - 1800 "normal" desktop
// 1800 + large desktop
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;800&display=swap');
@import "~bootstrap/scss/bootstrap";


@mixin respond($breakpoint){
  @if $breakpoint == phone{
      @media (max-width: 600px){@content}
  };
  @if $breakpoint == tab-port{
      @media (max-width: 900px){@content}
  };
  @if $breakpoint == tab-land{
      @media (max-width: 1200px){@content}
  };
  @if $breakpoint == big-desktop{
      @media (min-width: 1800px){@content}
  }
}

header {
   position: relative;
   height: 800px;
   min-height: 500px;
   width: 100%;
   background: #161415 url(../public/header-background.jpeg) no-repeat top center;
   background-size: cover !important;
	-webkit-background-size: cover !important;
   text-align: center;
   overflow: hidden;
}

/* vertically center banner section */
header:before {
   content: '';
   display: inline-block;
   vertical-align: middle;
   height: 100%;
}
header .banner {
   display: inline-block;
   vertical-align: middle;
   margin: 0 auto;
   width: 85%;
   padding-bottom: 30px;
   text-align: center;
}

header .banner-text { width: 100%; }
header .banner-text h1 {
   font: 150px 'Inconsolata';
   font-weight: 800;
   color: #fff;
   letter-spacing: -2px;
   margin: 0 auto 18px auto;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}


/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	 margin: 0;
	 padding: 0;
	 border: none;
	 outline: none;
}

/* nav-wrap */
#nav-wrap {
   font: 14px 'Inconsolata';
   font-weight: bold;
   text-transform: uppercase;
   width: 100%;
   letter-spacing: 3px;
   margin: 0 auto;
   z-index: 100;
   position: fixed;
   left: 0;
   top: 0;
   background-color: black;
}
.opaque { background-color: #333; }

/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
   min-height: 48px;
   width: auto;

   /* center align the menu */
   text-align: center;
}
ul#nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;
}

ul#nav li a {
   display: inline-block;
   padding: 8px 13px;
   line-height: 32px;
	 text-decoration: none;
   text-align: center;
   color: #fff;

	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

ul#nav li a:active { background-color: transparent !important; }
ul#nav li.current a { color: #F000EF; }

body {
  background-color: #00000000;
}
h1, h2, h3, p, ul, li {
  font-family: 'Inconsolata';
  color: #FFF
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #000;
  padding: 0;
}
ul.header li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: rgb(0, 0, 0);
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

ul.header li a:hover{
  color:  #F000EF;
}


#contact, #services, #suggest {
  position: relative;
  height: 800px;
  min-height: 500px;
  width: 100%;
}


body {
  background-color: black;
}

/* Services Styling */
.service-item {
  text-align: center;
  margin-bottom: 1em;
}

.container {
  text-align: center;
}

.container h1 {
  margin-bottom: 1.5em;
}

.services-img {
  font-size: 5em;
}

label {
  color: #76EB00;
}

/* End of Services Styling */

.footer{

  height: auto;
  background-color: #0E1111;

  &__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
  }

  &__about{

    &-text{
      max-width: 50%;
    }

    &-h2{
      font-size: 2rem;
      color: #eee;
      font-weight: 100;
      letter-spacing: .25rem;
    }

    &-h3{
      font-size: 1rem;
      color: #eee;
      font-weight: 100;
    }
  }

  &__hr{
    border-bottom: 1px solid grey;
    width: 90%;
    padding-bottom: 2rem;

  }

  &__legal{
    color: grey;
  }

}

.socials{

  &__list{
    list-style: none;
    display: flex;
    align-items: center;
    padding-inline-start: 0px;

    &-item{
      &:hover .socials__icon{
        color: #F000EF;
        transform: scale(1.1);

      }
    }
  }

  &__link{
    text-decoration: none;
    color: white;
    padding: 1rem;
  }

  &__icon{
    font-size: 2rem;
    color: white;
    transition: all .25s;

  }

}

.footer-navigation{

  &__list{
    list-style: none;
    display: flex;
    align-items: center;
    padding-inline-start: 0px;
  }

  &__item{
    text-decoration: none;
    border-right: 1px solid #eee;
    padding: .5rem;
    &:last-of-type{
      border-right: none;
    }
  }

  &__link{
    text-decoration: none;
    color: #eee;
    padding: .5rem;
  }

}

