// Media query range by pixels
// 0 - 600 phone
// 600 - 900 tablet portrait
// 900 - 1200 tablet landscape
// 1200 - 1800 "normal" desktop
// 1800 + large desktop
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;800&display=swap');
@import "~bootstrap/scss/bootstrap";


@mixin respond($breakpoint){
  @if $breakpoint == phone{
      @media (max-width: 600px){@content}
  };
  @if $breakpoint == tab-port{
      @media (max-width: 900px){@content}
  };
  @if $breakpoint == tab-land{
      @media (max-width: 1200px){@content}
  };
  @if $breakpoint == big-desktop{
      @media (min-width: 1800px){@content}
  }
}

html{
  font-size: 80%;
  /* We want 10px as root font size.. it's 16px by default
  Change to 62.5% to get 10px  */
  // ^^ Defines that 1rem = 10px for easy math

  @include respond(tab-land){ // width < 1200?
      font-size: 56.25%;  //1rem = 9px, 9/16 = 56.25%
  }

  // @include respond(tab-port){ // width < 900?
  //     font-size: 50%; // //1rem = 8px, 8/16 = 50%
  // }

  // @include respond(big-desktop){
  //     font-size: 75%; //1rem = 12px, 12/16 = 75%
  // }

}

header {
   position: relative;
   height: 80rem;
   min-height: 50rem;
   width: 100%;
   background: #161415 url(../public/header-background.jpeg) no-repeat top center;
   background-size: cover !important;
	-webkit-background-size: cover !important;
   text-align: center;
   overflow: hidden;
}

/* vertically center banner section */
header:before {
   content: '';
   display: inline-block;
   vertical-align: middle;
   height: 100%;
}
header .banner {
   display: inline-block;
   vertical-align: middle;
   margin: 0 auto;
   width: 85%;
   padding-bottom: 3rem;
   text-align: center;
}

header .banner-text { width: 100%; }
header .banner-text h1 {
   font: 150px 'Inconsolata';
   font-weight: 800;
   color: #FFF;
   letter-spacing: -2px;
   margin: 0 auto 1.8rem auto;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}


/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	 margin: 0;
	 padding: 0;
	 outline: none;
}
#prices {
  font-size: 1.6rem;
}

/* nav-wrap */
#nav-wrap {
   font: 14px 'Inconsolata';
   font-weight: bold;
   text-transform: uppercase;
   width: 100%;
   letter-spacing: 3px;
   border-bottom-style: solid;
   border-bottom-color:#76eb00;
   border-bottom-width: 2px;
   margin: 0 auto;
   z-index: 100;
   position: fixed;
   left: 0;
   top: 0;
   background-color: black;
}
.opaque { background-color: #333; }

/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
   min-height: 4.8rem;
   width: auto;

   /* center align the menu */
   text-align: center;
}
ul#nav li {
   position: relative;
   list-style: none;
   height: 4.8rem;
   display: inline-block;
}

ul#nav li a {
   display: inline-block;
   padding: 8px 13px;
   line-height: 3rem;
	 text-decoration: none;
   text-align: center;
   color: #fff;

	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

ul#nav li a:active { background-color: transparent !important; }

body {
  background-color: #00000000;
}
h1, h2, h3, p, ul, li {
  font-family: 'Inconsolata';
  color: #FFF
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #000;
  padding: 0;
}
ul.header li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 2rem;
  display: inline-block;
}
.content {
  background-color: rgb(0, 0, 0);
  padding: 2rem;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 1rem;
}

ul#nav li a:hover{
  color: #F000EF;
}
ul#nav li a:active{
  color:#0039e8;
}


#contact, #suggest, #prices, #media {
  position: relative;
  min-height: 20rem;
  padding: 5rem;
  width: 100%;
  text-align: center;
}

#services{
  position: relative;
  min-height: 50rem;
  padding: 5rem;
  width: 100%;
  text-align: center;
}
#Packages {
  position: relative;
  min-height: 50rem;
  padding: 5rem;
  width: 100%;
  text-align: center;
}


body {
  background-color: black;
}

/* Services Styling */
.service-item {
  text-align: center;
  position: relative;
  margin-bottom: 1rem;
  margin-top: 1rem;
  background-color:black;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  height: 12.5rem;
  width: 25rem;
}

#service-description{
  position: absolute;
  background: black;
  color: #fff;
  visibility: hidden;
  padding-top: 1rem;
  padding-bottom: 1rem;
  opacity: 0;
  top:0;
  bottom:0;
  right:0;
  left:0;
  font-family: 'Inconsolata';
  font-size: 1.5rem;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.service-item:hover #service-description{
  visibility: visible;
  opacity: 1;
}

#service-title {
  color: white;
  font-weight: bold;
  font-family: 'Inconsolata';
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.container {
  text-align: center;
}

.container h1 {
  margin-bottom: 1.5rem;
}

.services-img {
  font-size: 5rem;
}


/* End of Services Styling */

/* Packages/Deals Styling */ 

#Packages {
  background: linear-gradient(#0039e8, #76eb00);
}

/*#Packages .pricing {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}*/

#Packages .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  min-height: 28rem;
  margin-top: 2rem;
}

#Packages .card-body {
  /*for fixed placement of contact button */
  display: flex;
  flex-direction: column;
}

#Packages hr {
  margin: 1.5rem 0;
}

#Packages .card-title {
  margin: 0.5rem 0;
  font-size: 1.8rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

#Packages .card-price {
  font-size: 2.0rem;
  margin: 0;
}

#Packages .card-price .period {
  font-size: 0.8rem;
}

#Packages ul li {
  margin-bottom: 1rem;
  color: black;
  padding: 0;
  border: none;
}

#Packages ul {
  list-style-type: '\2714'
}

#Packages .text-muted {
  opacity: 0.7;
  list-style-type: "\2717"
}

#Packages .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

/*Fixed height on contact buttom */
#Packages .d-grid {
  margin-top: auto;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  #Packages .card:hover {
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }

  #Packages .card:hover .btn {
    opacity: 1;
  }
}

/* Packages media query for services text on mobile */
@media only screen and (max-width: 1200px) {
  #Packages .card ul {
    font-size: 1.25em;
  }
}

/* End of Packages/Deals Styling */ 


/* Song Submission Form Styling */

#suggest {
  margin-top: 1.5em;
  background: linear-gradient(#F000EF, #0039e8);

    /*
  background: linear-gradient(
    to bottom right,
    #FF48B6, #FF7E6C);
    */
}

#song-submission-form {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: left;

    /*background: linear-gradient(
      to bottom right,
      #DD95F7 0%, #9AADF9 50%, #7FC9D9 100%);*/
}

.song-submission {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
}

.contact-item {
  text-align: center;
  position: relative;
  margin-bottom: 1em;
  margin-top: 1em;
  background-color:white;
  margin-left: 1em;
  margin-right: 1em;
  // height: 25em;
  width: 23em;
}

#contact .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  text-align: center;
  padding-bottom: .5em;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

#contact-title {
  color: black;
  font-weight: bold;
  padding-top: .5em;
}
#deposit-title {
  color: black;
  font-weight: bold;
  padding-top: .15em;
}

#contact-name {
  color: black;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#contact-body {
  color: black;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#contact .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 2rem;
  margin: 2.5rem;
  background-image: linear-gradient(#F000EF, #0039e8, #76eb00);
  transition: all 0.2s;
}

#contact img {
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  margin-bottom: 1.5rem;

  @include respond(tab-port) {
    width: 7.5rem;
    height: 7.5rem;
  }

}

.form-label {
  color: white;
}

/* End of Song Submission Form Styling */


// PACKAGE FORM STYLING:

.package-form-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #212121;
}

.package-form-inputs{
  width: 70%;

}

.package-form{
  padding: 4rem 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;


  &__group{
    margin-top: 1rem;
    width: 100%;
  }

  &__label{
    font-family: inherit;
    color: #AAAAAA;
  }


  &__input{
    color: #AAAAAA;
    width: 100%;
    
    border: none;
    border-radius: 4px;
    font-family: inherit;
    display: block;

    &:focus{
      outline: none;
      border: none;
    }
    background: #3d3d3d;

  }

  textarea{
    height: 8rem;
    margin-bottom: 2rem;
  }
}

.packages-modal .modal-content{
  color: #FAFAFA;
  background-color: #212121;
}

// END PACKAGE FORM STYLING

.footer{

  background-color: #0E1111;

  &__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
  }

  &__about{

    &-text{
      max-width: 50%;
      margin: 1rem;
    }

    &-h2{
      margin-top: 2rem;
      font-size: 3rem;
      color: #eee;
      font-weight: 100;
      letter-spacing: .5rem;
    }

    &-h3{
      margin-top: 2rem;
      font-size: 1.6rem;
      color: #eee;
      font-weight: 100;
    }
  }

  &__hr{
    border-bottom: 1px solid grey;
    width: 90%;
    padding-bottom: 2rem;

  }

  &__legal{
    color: grey;
  }

}

.socials{

  &__list{
    
    list-style: none;
    display: flex;
    align-items: center;
    padding-inline-start: 0px;

    &-item{
      
      &:hover .socials__icon{
        color: #F000EF;
        transform: scale(1.1);

      }
    }
  }

  &__link{
    text-decoration: none;
    color: white;
    padding: 1rem;
  }

  &__icon{
    font-size: 4rem;
    color: white;
    transition: all .25s;

  }
}

.footer-navigation{

  &__list{
    margin-top: 1rem;
    list-style: none;
    display: flex;
    align-items: center;
    padding-inline-start: 0px;
    

    @include respond(phone) {
      flex-direction: column;
    }


  }

  &__item{
    font-size: 1.6rem;
    text-decoration: none;
    border-right: 1px solid #eee;

    @include respond(phone) {
      border-right: none;
    }

    

    padding: .5rem;
    &:last-of-type{
      border-right: none;
    }
  }
  

  &__link{
    text-decoration: none;
    color: #eee;
    padding: .5rem;
    transition: all .3s;

    &:hover{
      color: #eb01ef;
    }
  }

}

#prices {
  margin-top: 1.5em;
  background: linear-gradient(#eb01ef, #0438e8);  
}

#prices .prices-button {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
}

#prices button {
  color: black;
  background-color: white;
}

.media-gallery-container{
  margin: 0 auto;
  width: 50%;

  @include respond(tab-port) {
    width: 90%;
  }
}
